	body{
		background-color:lightgray;
	}
	h1{
		color:white;
		text-align:center;
		font-family: 'Slabo 27px', serif;
	}
	p{
		padding:50x;
		text-align:center;
		font-size:20px;
	}
	img{
		padding:50px;
	}
	li{
		display:inline;
		margin-right:10px;
	}
	a:link{
		text-decoration:none;
		color:deeppink;
	
	}
	a:visited{
		color:black:
	}
	a:hover{
		text_decoration:underlined;
		color:deepskyblue;
	}
	a:active{
		text-decoration:darkcyan;
	}
	nav{
		text-align:center;
	}
	
	 <head>
		<style>
			input.MyButton {
			width: 300px;
			padding: 20px;
			cursor: pointer;
			font-weight: bold;
			font-size: 150%;
			background: #3366cc;
			color: #fff;
			border: 1px solid #3366cc;
			border-radius: 10px;
			}
			input.MyButton:hover {
			color: #ffff00;
			background: #000;
			border: 1px solid #fff;
			}
			.rotateimg90 {
			-webkit-transform:rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			}
		</style>
	</head> 