	body{
		background-color:lightblue;
	}
	h1{
		color:white;
		text-align:center;
		font-family: 'Slabo 27px', serif;
	}
	p{
		padding:50x;
		text-align:center;
		font-size:20px;
	}
	img{
		padding:50px;
	}
	li{
		display:inline;
		margin-right:10px;
	}
	a:link{
		text-decoration:none;
		color:deeppink;
	
	}
	a:visited{
		color:black:
	}
	a:hover{
		text_decoration:underlined;
		color:deepskyblue;
	}
	a:active{
		text-decoration:darkcyan;
	}
	nav{
		text-align:center;
	}